body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(45deg, #ffb6a4, #f6ffa4, #bce7cb, #df7f9a); 
    background-size: 400% 400%; 
    animation: gradientBG 6s ease infinite;
    overflow: hidden;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(90deg, #007BFF, #00b8d4);
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}

.calculator-container, .results-container {
    background: white;
    padding: 30px;
    margin: 20px auto;
    margin-top: 0px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 20%;
    text-align: left;
    transition: all 0.3s ease;
    border-left: 8px solid #007BFF;
}

.calculator-container:hover, .results-container:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px); 
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #007BFF, #00b8d4);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(90deg, #0056b3, #008c9e);
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.98);
}

.results-container p {
    font-size: 18px;
    margin: 15px 0;
    color: #333;
}

.results-container span {
    font-weight: 700;
    color: #007BFF;
}
